.input_decklist_area {
  display: flex;
  align-items: center;

  .textarea_decklist {
    width: 550px;
    height: 220px;
    padding: 3px;
    border: 1px solid #000;
    resize: none;
  }

  .btn_add {
    margin-left: 40px;
    padding: 16px 32px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 24px;
    background-color: #2f3545;
    box-shadow: 0 2px 8px -1px #{rgba(#151924, 0.32)};
    text-decoration: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 20px -2px #{rgba(#275efe, 0.5)};
    }
  }
}
