.search_tab_list_area {
  display: flex;
  flex-direction: row;
  margin: 30px 0 20px;
  border-bottom: 1px solid #e6e6e6;

  .search_tab_item {
    display: flex;
  }

  .search_tab_item + .search_tab_item {
    &::before {
      display: block;
      width: 1px;
      height: 20px;
      margin: 15px 15px 0;
      background-color: #e6e6e6;
      content: "";
    }
  }

  .btn_search_tab {
    display: flex;
    position: relative;
    padding: 0 5px;
    font-size: 16px;
    line-height: 50px;
    box-sizing: border-box;

    &::after {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 2px;
      background-color: #000;
      content: "";
    }

    &[aria-current="true"] {
      font-weight: 700;
      &::after {
        display: block;
      }
    }
  }
}
