.wrap {
  position: relative;
  margin: 0 auto;
}

header {
  background-color: #000;

  .title {
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
  }
}

.content {
  max-width: 1080px;
  margin: 0 auto;

  .get_data_area {
    margin: 10px 0;
    .btn_getdata {
      margin-left: 10px;
    }
  }

  .input_decklist_area {
    display: flex;
    align-items: center;

    .textarea_decklist {
      width: 550px;
      height: 220px;
      padding: 3px;
      border: 1px solid #000;
      resize: none;
    }

    .btn_parse {
      margin-left: 40px;
      padding: 16px 32px;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 24px;
      background-color: #2f3545;
      box-shadow: 0 2px 8px -1px #{rgba(#151924, 0.32)};
      text-decoration: none;
      cursor: pointer;

      &:hover {
        box-shadow: 0 4px 20px -2px #{rgba(#275efe, 0.5)};
      }
    }
  }

  .card_list {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 10px;

    .card_item {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      align-items: center;
    }

    .card_img {
      width: 146px;
      height: 204px;
    }
  }
}
